@media screen and (max-device-width: 430px) {
    .wrap{
        padding: 15px;
        .header{
            .header_title{
                display: none;
            }
        }
        #taskContainer{
            min-height: 600px;
            .addNewTask{
                width: 100%;
                margin: 0 0 20px 0;

            }
            .task{
                width: 100%;
                margin: 0 0 20px 0;
            }
        }

    }
    .addNewTaskPopup_container{
        .addNewTaskPopup{
            width: 85%;
            height: 350px;
            h1{
                font-size: 28px;
            }
            .addNewTaskPopup_inputsCon{
                input{
                    width: 100%;
                }
            }

        }
    }
}