*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
.wrap{
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: #6D87E2;
    .header{
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background-color: #fff;
        color: #6D87E2;
        padding: 18px;
        .logo{
            font-size: 36px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.1s ease;
        }
        .logo:hover{
            margin-bottom: 15px;
        }
        .header_title{
            font-size: 32px;
            font-weight: 300;
            transition: 0.1s ease;
        }
        .header_title:hover{
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 15px;

        }
        .header_languageAndThemeCon{
            width: 151px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #header_language{
                border: none;
                outline: none;
                font-size: 28px;
                font-weight: 500;
                color: #6D87E2;
                cursor: pointer;
            }
            .header_themeChanger{
                width: 45px;
                cursor: pointer;
            }
        }

    }
    .inputContainer{
        display: flex;
        input{
            width: 300px;
            height: 50px;
            border-radius: 20px;
            padding: 20px;
            outline: none;
            border: 2px #333 solid;
            font-size: 20px;
            font-weight: 600;
        }
        button{
            width: 130px;
            height: 50px;
            background-color: #333;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            margin-left: 20px;
            transition: 0.5s ease;
        }
        button:hover{
            background-color: #fff;
            color: #333;
            border: 2px #333 solid;
        }
    }
    #taskContainer{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        margin-top: 20px;
        .task{
            width: 350px;
            height: 200px;
            border-radius: 15px;
            padding: 20px;
            border: 2px #333 solid;
            margin-right: 30px;
            margin-bottom: 20px;
            .task_title{
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}