*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
::selection{
    background-color: #4144ad;
    color: #fff;
}
.wrap{
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    background-color: #6D87E2;
    .header{
        width: 100%;
        height: 76px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 20px;
        background-color: #fff;
        color: #6D87E2;
        padding: 18px;
        box-shadow: 0 2px 20px #1D24CA;
        .logo{
            font-size: 36px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.1s ease;
        }
        .logo:hover{
            margin-bottom: 15px;
        }
        .header_title{
            font-size: 32px;
            font-weight: 300;
            transition: 0.1s ease;
        }
        .header_title:hover{
            font-size: 32px;
            font-weight: 300;
            margin-bottom: 15px;

        }
        .header_languageAndThemeCon{
            width: 151px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #header_language{
                border: none;
                outline: none;
                font-size: 28px;
                font-weight: 500;
                color: #6D87E2;
                cursor: pointer;
            }
            .header_themeChanger{
                width: 45px;
                cursor: pointer;
                transition: 1s ease;
            }
            .header_themeChanger:hover{
                transform: rotate(360deg);
            }
        }

    }
    .inputContainer{
        display: flex;
        input{
            width: 300px;
            height: 50px;
            border-radius: 20px;
            padding: 20px;
            outline: none;
            border: 2px #333 solid;
            font-size: 20px;
            font-weight: 600;
        }
        button{
            width: 130px;
            height: 50px;
            background-color: #333;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fff;
            font-size: 24px;
            font-weight: 600;
            margin-left: 20px;
            transition: 0.5s ease;
        }
        button:hover{
            background-color: #fff;
            color: #333;
            border: 2px #333 solid;
        }
    }
    #taskContainer{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        margin-top: 30px;
        min-height: 530px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 2px 20px #1D24CA;
        padding: 30px;
        .addNewTask{
            width: 307px;
            height: 200px;
            background-color: #6D87E2;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 84px;
            cursor: pointer;
            margin: 0 39px 30px 0px;
            transition: 0.6s ease;
            color: #fff;

            .addNewTask_Plus{
                user-select: none;
                transition: 0.6s ease;
                color: #fff;
            }
        }
        .task{
            width: 307px;
            height: 200px;
            background-color: #6D87E2;
            border-radius: 20px;
            padding: 20px;
            margin: 0 39px 30px 0px;
            cursor: pointer;
            padding: 15px;
            color: #fff;
            .task_titleAndActionsCon{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .task_title{
                    font-size: 24px;
                    font-weight: 500;
                }
                .task_actions{
                    width: 60px;
                    display: flex;
                    justify-content: space-between;
                    .task_actions_edit{
                        position: relative;
                        transition: 0.5s ease;

                        .task_editAction{
                            width: 25px;
                            height: 23px;
                            transition: 0.5s ease;

                        }
                        .task_actions_edit_decoration{
                            position: absolute;
                            transition: 0.5s ease;
                            display: none;
                        }
                        #task_actions_edit_decoration1{
                            top: -2px;
                            left: -3px;
                            width: 12px;
                            height: 12px;
                        }
                        #task_actions_edit_decoration2{
                            top: 7px;
                            left: -6px;
                            width: 8px;
                            height: 8px;
                        }
                    }

                    .task_actions_delete{
                        width: 19px;
                        height: 23px;
                        position: relative;
                        .task_actions_delete_Top{
                            width: 19px;
                            position: absolute;
                            top: 0;
                            transition: 0.5s ease;
                        }

                        .delete-hover {
                            transform: rotate(-20deg);
                            top: -5px; 
                            left: -2px; 
                        }
                        
                        .task_actions_delete_Bottom{
                            width: 19px;
                            position: absolute;
                            bottom: 0;
                        }
                    }
                }
            }
            .task_description{
                font-size: 16px;
                font-weight: 300;
                margin: 7px 0 10px 0;
            }
            .task_neededTime{
                display: flex;
                font-size: 16px;
                font-weight: 500;
                margin-top: 5px;
                .task_time{
                    font-weight: 700;
                    margin-left: 5px;
                }
            }
        }
    }
}
.addNewTaskPopup_container{
    width: 100%;
    height: 100vh;
    background-color: #0000005c;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    .addNewTaskPopup{
        width: 600px;
        height: 370px;
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        position: relative;
        h1{
            font-size: 40px;
            color: #6D87E2;
            font-weight: 600;
        }
        i{
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 20px;
            color: #333;
            cursor: pointer;
        }
        .addNewTaskPopup_inputsCon{
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            input{
                width: 80%;
                height: 45px;
                border-radius: 20px;
                border: #333 1px solid;
                outline: none;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            #addTask{
                width: 200px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                color: #6D87E2;
                border: 1px #6D87E2 solid;
                font-size: 24px;
                font-weight: 500;
                background-color: #fff;
                margin-top: 7px;
                cursor: pointer;
                transition: 0.3s ease;
            }
        }
    }
}
.editTaskPopup_container{
    width: 100%;
    height: 100vh;
    background-color: #0000005c;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    .editTaskPopup{
        width: 600px;
        height: 370px;
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        position: relative;
        h1{
            font-size: 40px;
            color: #6D87E2;
            font-weight: 600;
            margin-bottom: 15px;
        }
        i{
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 20px;
            color: #333;
            cursor: pointer;
        }
        // .addNewTaskPopup_inputsCon{
        //     display: flex;
        //     flex-direction: column;
        //     margin-top: 15px;
            input{
                width: 80%;
                height: 45px;
                border-radius: 20px;
                border: #333 1px solid;
                outline: none;
                padding: 10px;
                font-size: 16px;
                font-weight: 400;
                margin: 0 0 17px 0;
            }
            #saveChanges{
                width: 200px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                color: #6D87E2;
                border: 1px #6D87E2 solid;
                font-size: 24px;
                font-weight: 500;
                background-color: #fff;
                margin-top: 7px;
                cursor: pointer;
                transition: 0.3s ease;
            }
            #saveChanges:hover{
                color: #fff;
                border: 1px #6D87E2 solid;
                background-color: #6D87E2;
            }
        // }
    }
}
.cookiesPopupContainer{
    width: 100%;
    height: 100vh;
    background-color: #0000005c;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    .cookiePopup{
        width: 800px;
        height: 380px;
        background-color: #fff;
        padding: 30px;
        border-radius: 20px;
        position: relative;
        display: flex;
    }
    .cookiePopup_textCon{
        color: #6D87E2;
        width: 60%;
        .cookiePopup_title{
            font-size: 36px;
            font-weight: 600;
        }
        .cookiePopup_text{
            font-size: 20px;
            font-weight: 300;
            margin-top: 20px;
        }
        .cookiePopup_btn{
            width: 200px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            color: #6D87E2;
            border: 1px #6D87E2 solid;
            font-size: 24px;
            font-weight: 500;
            background-color: #fff;
            margin-top: 25px;
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
    .cookiePopup_picContainer{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .cookiePopup_picContainer_cookie{
            position: relative;
            width: 250px;
            height: 250px;
            cursor: pointer;
            .cookiePart{
                position: absolute;
                transition: 0.7s ease;

            }
            .cookie{
                width: 250px;
            }
            .cookieCrumb1{
                width: 43px;
                left: 165px;
                top: 2px;
            }
            .cookieCrumb2{
                width: 46px;
                left: 192px;
                top: 50px;
            }
            .cookieCrumb3{
                width: 33px;
                left: 220px;
                top: 5px;
            }
        }
    }

}